<button type="button" class="btn" data-toggle="modal" data-target="#poke_adder">Open Modal</button>
<!-- Modal -->
<div class="modal fade" id="poke_adder" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <form class="form-inline">
          <input type="text" ng-model="$ctrl.searchValue" uib-typeahead="pokemon for pokemon in $ctrl.pokedex | filter:$viewValue | limitTo:8" class="form-control">
          <button class="btn" ng-click="$ctrl.getDetails()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        </form>
        </div>
      <div class="modal-body">
        {{ $ctrl.results.data.name }} has been added!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="$ctrl.clearPoke()">Remove</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.updatePoke()">Save</button>
      </div>
    </div>
  </div>
</div>
