<div class='container' ng-controller='Pokedex'>
  <form id='' class='form-inline'>
    <label>Pokemon Lookup:</label>
    <input type='text' ng-focus='$ctrl.getAllPokemon()' ng-model='$ctrl.searchValue' uib-typeahead='pkmn for pkmn in $ctrl.pokedex | filter:$viewValue | limitTo:8' class='form-control'>
    <button class='btn' ng-click='$ctrl.getDetails()'><span class='glyphicon glyphicon-search' aria-hidden='true'></span></button>
  </form>

  <div ng-show='$ctrl.pkmn_result' class='well'>
    <live-pokemon pokemon='$ctrl.pkmn_result'></live-pokemon>
    <button class='btn' ng-click='$ctrl.addToTeam($ctrl.pkmn_result)'><span class='glyphicon glyphicon-plus'></span></button>
    <button class='btn' ng-click='$ctrl.closeSearch()'><span class='glyphicon glyphicon-remove-sign'></span></button>
  </div>

  <ol id='MyPokemon'>
    <div ng-repeat='pokemon in $ctrl.team.pokemon | orderBy : "index"'>
      <li>
        <a href='#' class='names'>{{ pokemon.data.name }}</a>
        <button ng-click='$ctrl.indexUp(pokemon)'><span class='glyphicon glyphicon-arrow-up'></span></button>
        <button ng-click='$ctrl.indexDown(pokemon)'><span class='glyphicon glyphicon-arrow-down'></span></button>
        <button ng-click='$ctrl.removeFromTeam(pokemon)'><span class='glyphicon glyphicon-trash'></span></button>
        <button ng-click='$ctrl.viewPokemon(pokemon)'><span class='glyphicon glyphicon-eye-open'></span></button>
      </li>
    </div>
  </ol>

  <div ng-show='$ctrl.live_pokemon' id='LivePokemon' class='well'>
    <live-pokemon pokemon='$ctrl.live_pokemon' hasMoves='true'></live-pokemon>
    <button ng-click='$ctrl.closePokemon()'><span class='glyphicon glyphicon-eye-close'></span></button>
  </div>

  <team-data team='$ctrl.team' ></team-data>

</div>
