<div>
  <div id='PokemonContainer' class='FlexContainer'>
    <div id='PokemonCard' ng-repeat='pokemon in $ctrl.team.pokemon | orderBy : "index"'>
      <div class='well WellShadow'>
        <h4 id='PokemonName'>{{ pokemon.name }}</h4>
        <div class='FlexContainer'>
          <div>
            <img id='PokemonImage' alt="{{ pokemon.name }}" ng-src="{{ pokemon.sprites.front_default  || '' }}"/>
          </div>
          <div id='MoveSelectors' class='FlexContainer'>
            <h5>Move Selection</h5>
            <select class='form-control' id='MoveSelector' ng-model='pokemon.myMoves["one"]'>
              <option ng-repeat='move in pokemon.moves' value='{{ move.move }}'>{{ move.move.name }}</option>
            </select>
            <select class='form-control' id='MoveSelector' ng-model='pokemon.myMoves["two"]'>
              <option ng-repeat='move in pokemon.moves' value='{{ move.move }}'>{{ move.move.name }}</option>
            </select>
            <select class='form-control' id='MoveSelector' ng-model='pokemon.myMoves["three"]'>
              <option ng-repeat='move in pokemon.moves' value='{{ move.move }}'>{{ move.move.name }}</option>
            </select>
            <select class='form-control' id='MoveSelector' ng-model='pokemon.myMoves["four"]'>
              <option ng-repeat='move in pokemon.moves' value='{{ move.move }}'>{{ move.move.name }}</option>
            </select>
          </div>
        </div>
        <div class='row' id='PokemonOptions'>
          <button title='Move up in team.' class='btn' ng-click='indexUp(pokemon)'><span class='glyphicon glyphicon-arrow-up'></span></button>
          <button title='Move down in team.' class='btn' ng-click='indexDown(pokemon)'><span class='glyphicon glyphicon-arrow-down'></span></button>
          <button title='Remove from team.' class='btn' ng-click='removeFromTeam(pokemon)'><span class='glyphicon glyphicon-trash'></span></button>
          <button title='View stats.' class='btn' ng-click='viewPokemon(pokemon)'><span class='glyphicon glyphicon-eye-open'></span></button>
        </div>
      </div>
    </div>
  </div>
  <div ng-show='live_pokemon' id='LivePokemon' class='well'>
    <live-pokemon pokemon='live_pokemon' hasMoves='true'></live-pokemon>
    <button class='btn' ng-click='closePokemon()'><span class='glyphicon glyphicon-eye-close'></span></button>
  </div>
</div>
