<div>
  <div id='PokemonContainer' class='FlexContainer'>
    <div id='PokemonCard' ng-repeat='pokemon in $ctrl.team.pokemon | orderBy : "index"'>
      <div class='well'>
        <h4 id='PokemonName'>{{ pokemon.name }}</h4>
        <div class='FlexContainer'>
          <div>
            <img alt="{{ pokemon.name }}" ng-src="{{ pokemon.sprites.front_default  || '' }}"/>
          </div>
          <div id='MoveSelectors' class='FlexContainer'>
            <select ng-model='pokemon.myMoves["one"]'>
              <option ng-repeat='move in pokemon.moves' value='{{ move.move }}'>{{ move.move.name }}</option>
            </select>
            <select ng-model='pokemon.myMoves["two"]'>
              <option ng-repeat='move in pokemon.moves' value='{{ move.move }}'>{{ move.move.name }}</option>
            </select>
            <select ng-model='pokemon.myMoves["three"]'>
              <option ng-repeat='move in pokemon.moves' value='{{ move.move }}'>{{ move.move.name }}</option>
            </select>
            <select ng-model='pokemon.myMoves["four"]'>
              <option ng-repeat='move in pokemon.moves' value='{{ move.move }}'>{{ move.move.name }}</option>
            </select>
          </div>
        </div>
        <div class='row' id='PokemonOptions'>
          <button ng-click='$ctrl.indexUp(pokemon)'><span class='glyphicon glyphicon-arrow-up'></span></button>
          <button ng-click='$ctrl.indexDown(pokemon)'><span class='glyphicon glyphicon-arrow-down'></span></button>
          <button ng-click='$ctrl.removeFromTeam(pokemon)'><span class='glyphicon glyphicon-trash'></span></button>
          <button ng-click='$ctrl.viewPokemon(pokemon)'><span class='glyphicon glyphicon-eye-open'></span></button>
        </div>
      </div>
    </div>
  </div>
  <div ng-show='$ctrl.live_pokemon' id='LivePokemon' class='well'>
    <live-pokemon pokemon='$ctrl.live_pokemon' hasMoves='true'></live-pokemon>
    <button ng-click='$ctrl.closePokemon()'><span class='glyphicon glyphicon-eye-close'></span></button>
  </div>

  <div ng-show='$ctrl.noPokemon'>
    <h3>Try searching to add your first pokemon!</h3>
  </div>

</div>
