
li {
  padding: 5px;
}

.FlexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#MoveSelectors {
  width: 150px;
  flex-direction: column;
}

#PokemonCard {
  padding: 10px;
  width: 350px;
}

#PokemonName:first-letter {
    text-transform: capitalize;
}

#PokemonOptions {
  padding: 10px;
}
