<div>

  <button class='btn' ng-click='$ctrl.toggleData()'>Toggle Team Data</button>
  <div ng-show='$ctrl.showData'>
    <div id='overall_stats'>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Stat</th>
            <th>Sum (Base)</th>
            <th>Average (Base)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Speed</td>
            <td>{{ $ctrl.sumStats.speed }}</td>
            <td>{{ $ctrl.averageStats.speed }}</td>
          </tr>
          <tr>
            <td>Sp. Attack</td>
            <td>{{ $ctrl.sumStats.sp_atk }}</td>
            <td>{{ $ctrl.averageStats.sp_atk }}</td>
          </tr>
          <tr>
            <td>Sp. Deffence</td>
            <td>{{ $ctrl.sumStats.sp_def }}</td>
            <td>{{ $ctrl.averageStats.sp_def }}</td>
          </tr>
          <tr>
            <td>Attack</td>
            <td>{{ $ctrl.sumStats.atk }}</td>
            <td>{{ $ctrl.averageStats.atk }}</td>
          </tr>
          <tr>
            <td>Defence</td>
            <td>{{ $ctrl.sumStats.def }}</td>
            <td>{{ $ctrl.averageStats.def }}</td>
          </tr>
          <tr>
            <td>HP</td>
            <td>{{ $ctrl.sumStats.hp }}</td>
            <td>{{ $ctrl.averageStats.hp }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id='typeTable'>
      <div>
        <button class='btn' ng-click='$ctrl.toggleStrengths()'>Toggle Team Strength</button>
        <div ng-show='$ctrl.showStrengths' ng-repeat='(type, count) in $ctrl.strengths'>
          {{ type }} , {{ count }}
        </div>
      </div>

      <div>
        <button class='btn' ng-click='$ctrl.toggleWeaknesses()'>Toggle Team Weaknesses</button>
        <div ng-show='$ctrl.showWeaknesses' ng-repeat='(type, count) in $ctrl.weaknesses'>
          {{ type }} , {{ count }}
        </div>
      </div>
    </div>
  </div>
</div>
