<div>

  <button class='btn ToggleButton' ng-click='$ctrl.toggleData()'>Toggle Team Data</button>
  <div ng-show='$ctrl.showData' class='well'>
    <div id='overall_stats'>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Stat</th>
            <th>Sum (Base)</th>
            <th>Average (Base)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Speed</td>
            <td>{{ $ctrl.sumStats.speed }}</td>
            <td>{{ $ctrl.averageStats.speed }}</td>
          </tr>
          <tr>
            <td>Sp. Attack</td>
            <td>{{ $ctrl.sumStats.sp_atk }}</td>
            <td>{{ $ctrl.averageStats.sp_atk }}</td>
          </tr>
          <tr>
            <td>Sp. Deffence</td>
            <td>{{ $ctrl.sumStats.sp_def }}</td>
            <td>{{ $ctrl.averageStats.sp_def }}</td>
          </tr>
          <tr>
            <td>Attack</td>
            <td>{{ $ctrl.sumStats.atk }}</td>
            <td>{{ $ctrl.averageStats.atk }}</td>
          </tr>
          <tr>
            <td>Defence</td>
            <td>{{ $ctrl.sumStats.def }}</td>
            <td>{{ $ctrl.averageStats.def }}</td>
          </tr>
          <tr>
            <td>HP</td>
            <td>{{ $ctrl.sumStats.hp }}</td>
            <td>{{ $ctrl.averageStats.hp }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id='typeTable'>
      <div>
        <button class='btn ToggleButton' ng-click='$ctrl.toggleStrengths()'>Toggle Team Strength</button>
        <button class='btn ToggleButton' ng-click='$ctrl.toggleWeaknesses()'>Toggle Team Strength</button>
        <div class='FlexContainer'>
          <div ng-show='$ctrl.showStrengths' class='well WellShadow Statsbox'>
            <h4>Strongest attacking against</h4>
            <ol>
              <div ng-repeat='type in $ctrl.double_damage_to | orderBy: "count" | limitTo:5'>
                <li>{{ type.name }}</li>
              </div>
            </ol>
          </div>
          <div ng-show='$ctrl.showStrengths' class='well WellShadow Statsbox'>
            <h4>Strongest defending against</h4>
            <ol>
              <div ng-repeat='type in $ctrl.half_damage_from | orderBy: "count" | limitTo:5'>
                <li>{{ type.name }}</li>
              </div>
            </ol>
          </div>
          <div ng-show='$ctrl.showWeaknesses' class='well WellShadow Statsbox'>
            <h4>Weakest attacking against</h4>
            <ol>
              <div ng-repeat='type in $ctrl.half_damage_to | orderBy: "count" | limitTo:5'>
                <li>{{ type.name }}</li>
              </div>
            </ol>
          </div>
          <div ng-show='$ctrl.showWeaknesses' class='well WellShadow Statsbox' >
              <h4>Weakest defending against</h4>
              <ol>
                <div ng-repeat='type in $ctrl.double_damage_from | orderBy: "count" | limitTo:5'>
                  <li>{{ type.name }}</li>
                </div>
              </ol>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
