
html, body {
  height: 100%;
  background-color: #EEE;
}

li {
  padding: 5px;
}

.Center {
  margin: auto;
  width: 50%
}

.DetailsDropDown {
  margin-bottom: 0;
}

.FlexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Statsbox {
  margin: 10px;
}

.ToggleButton {
  margin: 10px;
}

.WellShadow {
  box-shadow: 3px 3px 0px 0px #888;
  background-color: #FFF;
}

#AddPokemon {
  margin-top: 15px;
}

#AllPokemon {
  padding: 0;
}

#ImportantInfo {
  font-weight: bolder;
  color: red;
}

#MainContent {
  margin-top: 25px;
}

#MoveSelector {
  margin: 3px;
}

#MoveSelectors {
  width: 150px;
  margin-left: 30px;
  flex-direction: column;
}

#PokemonCard {
  padding: 10px;
  width: 350px;
}

#PokemonContainer {
  max-width: 1200px;
}

#PokemonImage {
  margin-top: 25%;
}

#PokemonName:first-letter {
    text-transform: capitalize;
}

#PokemonOptions {
  padding: 10px;
}
